.bodyBG{
    display: block;
    background-color: white;
    z-index: 2;
}
.sliderBG{
        background-color: rgba(112, 112, 115, 0.15);
        max-height: 500px;
}
.sliderWith{
    max-width: 1200px;
    margin: 0 auto;
}
.imgSet{
    width: 50%;
}

@media (min-width: 1181px){
    .adaptiveMargin{

    }
}
@media (max-width: 1181px){
    .adaptiveMargin{
        margin-top: 80px;
    }
}