.sidebar {
    position: fixed;
    padding-top: 50px;
    top: 0;
    right: -201px;
    bottom: 0;
    width: 200px;
    background-color: rgba(14, 13, 19, 0.9);
    transition: right 0.3s ease-in-out;
    z-index: 998;
}

.sidebar.open {
    right: 0;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar ul li {
    padding: 10px;
}
.hamburger-button {
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.line {
    position: relative;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(252, 252, 255), rgb(245, 244, 246));
    transition: all 0.2s ease-in-out;
    z-index: 999;
    border-radius: 30px;
}

.line-1 {
    transform: translateY(0px);
}

.line-2 {
    transform: translateY(0px);
    margin-left: 25%;
    width: 75%;
}

.line-3 {
    transform: translateY(0px);
}

.open .line-1 {
    transform: translateY(9px) rotate(45deg);
}

.open .line-2 {
    opacity: 0;
}

.open .line-3 {
    transform: translateY(-8px) rotate(-45deg);
}

.lineNew {
    height: 2px;
    width: 18px;
    background-color: #433D60;
    transition: all 0.5s ease-in-out;
    z-index: 999;
    align-items: center;
    border-radius: 5px;
    position: relative;
    display: inline-block;
}

.line-1New{
    transform: translateY(0px) translateX(10px) rotate(-45deg);

}

.line-2New{
    transform: translateY(-9px) translateX(-10px) rotate(25deg);
}

.openImg .line-1New {
    transform: translateY(0px) translateX(9px) rotate(30deg);
}

.openImg .line-2New {
    transform: translateY(-8px)translateX(-9px) rotate(-25deg);
}