
.headerBG{
    height: 80px;
    background-color:black;
    color: white;
    font-size: 14px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}
.header{
    max-width: 1200px;
    margin: 0 auto;
    align-items:center;
}
.headerMenu{
    text-align: left;
    text-decoration: none;
    color: inherit;
    max-height: 100%;
}
.headerMenu li{
    display: inline;
    padding: 0px 20px 29px 20px;
    cursor: pointer;
}
.headerMenu .nav-link{
    display: inline;
    padding: 0px 20px 29px 20px;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.headerMenu li:hover{
    border-bottom: solid;
}
.headerMenu .nav-link.active{
    border-bottom: solid;
}

img{
    width: 80%;
}
.logo{
    justify-content: center;
}
.headerButton{
    background-color: #14ab00;
    border: none;
    border-radius: 20px;
    padding: 13px 30px;
    color:white;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: bold;
}